<a href="https://colab.research.google.com/github/xxshenanigans/AIB_Project5/blob/main/project6_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 학습자 성취수준 데이터셋

초등학교 1학년부터 중학교 3학년까지 각 학년별 수학 교과의 작은 개념 단위(중단원)로 시행되는 평가(시험)에 대한 정오답표, 문항 정보, 학습자 정보 데이터셋

In [ ]:
import pandas as pd
import json
import os

## 정오답표 데이터프레임 생성

Training Set 9학년 정오답표
 - `learnerID` : 학습자 ID
 - `learnerProfile` : 성별;학교급;학년
 - `testID` : 평가 ID 
 - `assessmentItemID` : 평가 문항 ID
 - `answerCode` : 정오답 (`1`:정답, `0`:오답)
 - `Timestamp` : 데이터가 생성/수정 된 시간

In [ ]:
dict_list = []
for i in range(1, 75):
    if i < 10:
        path = '/content/drive/MyDrive/Project/Training/9학년/실력평가00'+str(i)+'/1_문항정오답표/'
    else:
        path = '/content/drive/MyDrive/Project/Training/9학년/실력평가0'+str(i)+'/1_문항정오답표/'
    file_list = os.listdir(path)
    for j in file_list:
        for line in open((path+j), "r"):
            dict_list.append(json.loads(line))

In [ ]:
df = pd.DataFrame(dict_list)

In [ ]:
df

        learnerID learnerProfile  ... answerCode            Timestamp
0      A090000006        M;S01;9  ...          1  2020-02-21 08:13:26
1      A090000051        M;S01;9  ...          0  2020-03-04 20:33:31
2      A090000386        F;S01;9  ...          1  2020-03-08 23:15:39
3      A090000067        M;S01;9  ...          0  2020-02-27 03:12:00
4      A090000139        M;S01;9  ...          0  2020-04-09 05:50:15
...           ...            ...  ...        ...                  ...
86070  A090000051        M;S01;9  ...          0  2020-12-08 00:16:35
86071  A090000408        M;S01;9  ...          0  2020-11-24 10:43:52
86072  A090000283        M;S01;9  ...          0  2020-11-26 23:49:29
86073  A090000064        M;S01;9  ...          0  2020-12-18 05:56:45
86074  A090000129        M;S01;9  ...          1  2020-11-25 08:06:12

[86075 rows x 6 columns]

In [ ]:
df.to_csv("training.csv", index=False)

## 문항 정보 데이터프레임 생성

Training Set 9학년 문항 정보
 - `difficultyLevel` : 문항 난이도
 - `discriminationLevel` : 문항 변별도
 - `guessLevel` : 문항 추측도
 - `knowledgeTag` : 수학 지식체계에 따른 개념 단위 지식태그

In [ ]:
dict_list = []
for i in range(1, 75):
    if i < 10:
        path = '/content/drive/MyDrive/Project/Training/9학년/실력평가00'+str(i)+'/2_문항IRT/'
    else:
        path = '/content/drive/MyDrive/Project/Training/9학년/실력평가0'+str(i)+'/2_문항IRT/'
    file_list = os.listdir(path)
    for j in file_list:
        for line in open((path+j), "r"):
            dict_list.append(json.loads(line))

In [ ]:
df = pd.DataFrame(dict_list)
df

         testID assessmentItemID  ...  knowledgeTag                   Timestamp
0    A090000001       A090001003  ...         10174  2021-01-08 06:08:25.336946
1    A090000001       A090001001  ...          4697  2021-01-08 06:08:25.336946
2    A090000001       A090001008  ...          4697  2021-01-08 06:08:25.336946
3    A090000001       A090001006  ...            78  2021-01-08 06:08:25.336946
4    A090000001       A090001002  ...          4697  2021-01-08 06:08:25.336946
..          ...              ...  ...           ...                         ...
510  A090000074       A090074006  ...          2648  2021-01-08 06:08:25.336946
511  A090000074       A090074004  ...         10196  2021-01-08 06:08:25.336946
512  A090000074       A090074001  ...          4243  2021-01-08 06:08:25.336946
513  A090000074       A090074005  ...          2648  2021-01-08 06:08:25.336946
514  A090000074       A090074002  ...          4243  2021-01-08 06:08:25.336946

[515 rows x 7 columns]

In [ ]:
df.to_csv("test.csv", index=False)

## 학습자 정보 데이터프레임 생성 

Training Set 9학년 학습자 정보
 - `theta` : 학습자의 이해력 수준
 - `realScore` : 학습자의 진점수

In [ ]:
dict_list = []
for i in range(1, 75):
    if i < 10:
        path = '/content/drive/MyDrive/Project/Training/9학년/실력평가00'+str(i)+'/3_응시자IRT/'
    else:
        path = '/content/drive/MyDrive/Project/Training/9학년/실력평가0'+str(i)+'/3_응시자IRT/'
    file_list = os.listdir(path)
    for j in file_list:
        for line in open((path+j), "r"):
            dict_list.append(json.loads(line))

In [ ]:
df = pd.DataFrame(dict_list)
df

        learnerID learnerProfile  ... realScore                   Timestamp
0      A090000570        F;S01;9  ...  0.284713  2021-01-08 06:08:25.336946
1      A090000503        M;S01;9  ...  0.232909  2021-01-08 06:08:25.336946
2      A090000040        F;S01;9  ...  0.280921  2021-01-08 06:08:25.336946
3      A090000454        M;S01;9  ...  0.896270  2021-01-08 06:08:25.336946
4      A090000359        M;S01;9  ...  0.896270  2021-01-08 06:08:25.336946
...           ...            ...  ...       ...                         ...
12286  A090000111        F;S01;9  ...  0.492804  2021-01-08 06:08:25.336946
12287  A090000057        F;S01;9  ...  0.488423  2021-01-08 06:08:25.336946
12288  A090000025        F;S01;9  ...  0.595258  2021-01-08 06:08:25.336946
12289  A090000099        F;S01;9  ...  0.776137  2021-01-08 06:08:25.336946
12290  A090000064        M;S01;9  ...  0.670411  2021-01-08 06:08:25.336946

[12291 rows x 6 columns]

In [ ]:
df.to_csv("learner.csv", index=False)